.title{
    font-weight: bold;
    text-align: center;
}

.space{
    margin: 5px 5px 5px 5px;
}

.title-background {
    background-color: #4dffdb;
}

.card-background {
    background-color: #e6fffa;
}

.like {
    text-align: right;
}