h1, h3 {
    text-align: center;
  
  }
  
  h1 {
    font-family: 'Algerian';
  }
  
  h3 {
    font-family: 'Edwardian Script ITC';
  } 

  p {
      text-align: center;
      font-family: 'Forte';
  }